html {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 70%;
  margin: auto;
  text-align: center;
  padding: 0;
  /*text-align: center;*/
}

#drawing-container{
  display: inline-block;
  border: 2px solid;
  margin: 0;
  padding: 0.5em;
}

#drawing-area {
  display: inline-block;
  font-family: monospace;
  margin: 0;
  border: 0;
  padding: 0;
  resize: none;
  cursor: normal;

}

#drawing-area::selection,
#drawing-container::selection {
  background-color: #FFF;
}

.selected {
  background-color: #bbbbff;
}
